
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
   
   
    /* myfooter */

.myfooter {
    padding: 50px 0 20px 0;
    background-color: #4E4849;
    color: #878c94;
}

.myfooter .title-widget {
  text-align: left;
  color:#fff;
  font-size: 25px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.myfooter .title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.myfooter .social-icon{padding:0px;margin:0px;}
.myfooter .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.myfooter .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.myfooter .acount-icon .fa{margin-right:25px;}


.myfooter .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.myfooter ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}


.myfooter .payment{margin:0px;padding:0px;list-style-type:none}
.myfooter .payment li{list-style-type:none}
.myfooter .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}

.myfooter ul.social {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
.myfooter ul.social li {
  display: inline;
  margin: 0 5px;
}
.myfooter .social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

.myfooter .social a.icoRss:hover {
  background-color: #F56505;
}
.myfooter .social a.icoFacebook:hover {
  background-color:#3B5998;
}
.myfooter .social a.icoTwitter:hover {
  background-color:#33ccff;
}
.myfooter .social a.icoGoogle:hover {
  background-color:#BD3518;
}
.myfooter .social a.icoVimeo:hover {
  background-color:#0590B8;
}
.myfooter .social a.icoLinkedin:hover {
  background-color:#007bb7;
}
.myfooter .social a.icoRss:hover i, .myfooter .social a.icoFacebook:hover i, .myfooter .social a.icoTwitter:hover i,
.myfooter .social a.icoGoogle:hover i, .myfooter .social a.icoVimeo:hover i, .myfooter .social a.icoLinkedin:hover i {
  color:#fff;
}
a.myfooter .socialIcon:hover, .myfooter .socialHoverClass {
  color:#44BCDD;
}

.myfooter .social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.myfooter .social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.myfooter .social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.myfooter .social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.myfooter-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.myfooter-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em; 
}
/*  zooming class */


.zoom:hover {
     -webkit-transform: scale(1.4);
     -moz-transform: scale(1.4);
     -o-transform: scale(1.4);
 }
.zoom {
     -webkit-transform: scale(1);
     /* Browser Variations: */
     
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
     -o-transition-duration: 0.3s;
 }
 /* Remove rounded borders from list */
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.myfooter .btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.myfooter .btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}


      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      * {
  box-sizing: border-box;
  /*   border: 1px solid black; */
}

.container1 {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;

}

.container1 ul {
  display: flex;
  min-height: 60vh ;
  max-height: 60vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  width: 100%;
}

.container1 li {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 10px;
  background: #CC526F ;
  cursor: pointer;
  transition: all .5s ease;
  width: 3%;
}
.container1 li:hover {
  background: #C13359;

}
.container1 li.active {
  flex: 5;
  background: #fff;
  cursor: default;

}
.container1 li.active h2 {
  color: #C13359;
}
.container1 li.active .section-content {
  flex: 4;
  opacity: 1;
  transform: scaleX(1);
  color: #C13359;
}
.container1 li .section-title {
  flex: 1;
  display: flex;
  align-items: center;
  width: 10%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
.container1 li .section-title h2 {
  margin: 0;
  transform: rotate(-90deg);
  white-space: nowrap;
}
.container1 li .section-content {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all .25s .1s ease-out;
  font-size: 0px;
  width: 100%;
}
.panel {
  border: 1px solid #f4511e; 
  border-radius:0;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}

.panel-heading {
  color: #fff !important;
  background-color: #f4511e !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}
   

